.plan-form {
  font-family: Arial, sans-serif;
  margin: 0 auto; /* Wyśrodkowanie formularza */
  padding: 20px;
  max-width: 900px; /* Ustawienie maksymalnej szerokości formularza */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center; /* Wyśrodkowanie zawartości */
}

.input-container {
  width: 100%; /* Zapewnienie, że kontener z formularzem ma pełną szerokość */
}

input.form-control {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 60%; /* Formatyzowanie szerokości inputów */
  margin-top: 10px;
}

input.form-control:focus {
  border-color: #28a745;
  box-shadow: 0 0 5px rgba(40, 167, 69, 0.5);
}

.day-card {
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 10px;
  padding: 15px;
  margin-bottom: 15px;
  width: 60%; /* Zapewnienie, że karty dni zajmują całą szerokość formularza */
}

.day-form {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

button.btn-primary {
  background-color: var(--button-background, #254636);
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 60%; /* Zapewnienie, że przycisk zajmuje całą szerokość formularza */
  text-align: center;
  margin-top: 10px;
}

button.btn-primary:hover {
  background-color: var(--button-background, #254636);
}

button.btn-danger {
  background-color: #dc3545;
  border: none;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  font-size: 14px;
  cursor: pointer;
  transition: background-color 0.3s;
  width: 100%; /* Zapewnienie, że przycisk zajmuje całą szerokość formularza */
  margin-top: 10px;
}

button.btn-danger:hover {
  background-color: #c82333;
}

.image-container {
  display: flex;
  justify-content: center;
  width: 100%;
  margin-bottom: 20px;
}

.plan-image {
  max-width: 100%;
  height: auto;
  border-radius: 10px;
}
@media (max-width: 768px) {
  .plan-form {
    width: 100%; /* Zapewnienie, że formularz zajmuje pełną szerokość na mniejszych ekranach */
    padding: 15px; /* Zmniejszenie paddingu na mniejszych ekranach */
  }

  .input-container {
    width: 100%; /* Kontener formularza na pełnej szerokości */
  }

  input.form-control {
    width: 100%; /* Zmiana szerokości inputów na 100% dla małych ekranów */
    font-size: 14px; /* Zmniejszenie rozmiaru czcionki dla inputów */
  }

  .day-card {
    width: 100%; /* Karty dni na pełnej szerokości */
    padding: 10px; /* Zmniejszenie paddingu kart */
  }

  button.btn-primary,
  button.btn-danger {
    width: 100%; /* Przycisk zajmuje pełną szerokość formularza */
    font-size: 14px; /* Zmniejszenie rozmiaru czcionki przycisków */
    padding: 10px; /* Mniejsze paddingi przycisków */
  }

  .image-container {
    width: 100%; /* Kontener na obrazek na pełnej szerokości */
  }

  .plan-image {
    max-width: 100%; /* Obrazek wypełnia całą szerokość kontenera */
    height: auto;
  }
}
