<div class="navbar">
  <div class="nav-links">
    <button class="btn btn-primary" [routerLink]="['/summary']">Summary</button>
    <button class="btn btn-primary" [routerLink]="['/']">Home</button>
  </div>

  @if (user$ | async; as user) {
  <div class="user-info">
    <p>Witaj, {{ user.email }}</p>
    <button (click)="logout()" class="btn btn-secondary">Wyloguj</button>
  </div>
  } @if (!(user$ | async)) {
  <div class="auth-buttons">
    <button (click)="navigateToLogin()" class="btn btn-light">
      Zaloguj się
    </button>
    <button (click)="navigateToRegister()" class="btn btn-light">
      Zarejestruj się
    </button>
  </div>
  }
</div>
