<div class="day-details">
  <h2 class="day-title">Details for {{ day() | date : "fullDate" }}</h2>

  @if (tdee()) {
    <div class="calories-balance">
      <h3>Bilans kaloryczny:</h3>
      <p>(Twoje zapotrzebowanie kaloryczne, minus spożyte kalorie, plus kalorie spalone podczas aktywności fizycznej)</p>
      <p class="balance-value">
        {{ meals() | caloriesBalance : trainings() : tdee() | number : "1.0-0" }} kcal
      </p>
      @if ((meals() | caloriesBalance : trainings() : tdee()) > 0) {
        <p>Nie przekroczyłeś zapotrzebowania kalorycznego</p>
      } @else {
        <p class="text-danger">Przekroczyłeś zapotrzebowanie kaloryczne</p>
      }
    </div>
  }
  <div class="comment-section">
    <h2>Dodaj komentarz</h2>
    <input
      [value]="comment()"
      (input)="onCommentChange($event)"
      placeholder="Dodaj komentarz"
      class="comment-input"
    />
    <button (click)="addComment()" class="comment-button">Dodaj</button>
  </div>
  
  <h2>Komentarze</h2>
  <ul class="comments-list">
    @for (comment of comments(); track comment) {
      <li class="comment-item">
        <p class="comment-text">{{ comment.text }}</p>
        <p class="comment-date">{{ comment.date }}</p>
      </li>
        }
  </ul>
  
  <div class="cards-container">
    @for (meal of meals(); track meal) {
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ meal.name }}</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Kalorie: {{ meal.calories }} kcal</p>

          @if (meal.imageUrl) {
            <img [src]="meal.imageUrl" alt="Meal image" class="card-image" >
            
          }
        </div>
      </div>
    }

    @for (training of trainings(); track training.id) {
      <div class="card">
        <div class="card-header">
          <h3 class="card-title">{{ training.name }}</h3>
        </div>
        <div class="card-body">
          <p class="card-text">Spalone kalorie: {{ training.burnedKcal }} kcal</p>
          <p class="card-text">Czas: {{ training.time }} min</p>
          @if (training.imageUrl) {
            <img [src]="training.imageUrl" alt="Training image" class="card-image">
            
          }
        </div>
      </div>
    }
    
    
  </div>

  @if (videoUrl()) {
    <div class="youtube-video">
      <h3>Watch the video:</h3>
      <iframe
        [src]="videoUrl()"
        width="560"
        height="315"
        frameborder="0"
        allowfullscreen
      ></iframe>
    </div>
  } @else {
    <p>No video available for this training.</p>
  }
</div>