<div class="search-container">
  <div class="search-bar">
    <h3>Wyszukaj produkt i sprawdź jego wartości odżywcze</h3>
    <input [(ngModel)]="searchQuery" placeholder="Wprowadź nazwę produktu" />
    <button (click)="searchProducts()">Szukaj</button>
  </div>

  <div class="results-container">
    <ul class="product-list">
      @for(product of products; track product) {
      <li class="product-item" (click)="selectProduct(product)">
        {{ product.product_name || "Brak nazwy" }} -
        {{ product.brands || "Brak marki" }}
      </li>
      }
    </ul>

    @if(selectedProduct) {
    <div class="product-details">
      <h2>{{ selectedProduct.product_name }}</h2>
      @if (selectedProduct.image_url) {
        <img
          [src]="selectedProduct.image_url"
          alt="Zdjęcie produktu {{ selectedProduct.product_name }}"
          class="product-image"
        />
      }
      <p>
        <strong>Kalorie:</strong>
        {{ selectedProduct.nutriments["energy-kcal"] || "Brak danych" }} kcal
      </p>
      <div class="nutrient">
        <p>
          <strong>Tłuszcz:</strong>
          {{ selectedProduct.nutriments.fat || "Brak danych" }} g
        </p>
      </div>

      <div class="nutrient">
        <p>
          <strong>Kwasy tłuszczowe nasycone:</strong>
          {{ selectedProduct.nutriments["saturated-fat"] || "Brak danych" }} g
        </p>
      </div>

      <div class="nutrient">
        <p>
          <strong>Węglowodany:</strong>
          {{ selectedProduct.nutriments.carbohydrates || "Brak danych" }} g
        </p>
      </div>

      <div class="nutrient">
        <p>
          <strong>Cukry:</strong>
          {{ selectedProduct.nutriments.sugars || "Brak danych" }} g
        </p>
      </div>

      <div class="nutrient">
        <p>
          <strong>Błonnik:</strong>
          {{ selectedProduct.nutriments.fiber || "Brak danych" }} g
        </p>
      </div>

      <div class="nutrient">
        <p>
          <strong>Białko:</strong>
          {{ selectedProduct.nutriments.proteins || "Brak danych" }} g
        </p>
      </div>

      <div class="nutrient">
        <p>
          <strong>Sól:</strong>
          {{ selectedProduct.nutriments.salt || "Brak danych" }} g
        </p>
      </div>

      
      <div>
        <label for="mealWeight">Podaj wagę produktu (g):</label>
        <input
          type="number"
          id="mealWeight"
          [(ngModel)]="mealWeight"
          (input)="calculateCalories()"
          min="1"
        />
      </div>

      <p><strong>Przeliczone kalorie:</strong> {{ calculatedCalories }} kcal</p>

      <div>
        <label for="mealDate">Wybierz datę posiłku:</label>
        <input type="date" [(ngModel)]="selectedMealDate" id="mealDate" />
      </div>

      <button (click)="addMealToCalendar()">Dodaj</button>
      <button (click)="cancelAddMeal()">Anuluj</button>
    </div>
    }
  </div>

  @if(error) {
  <p class="error-message">{{ error }}</p>
  }
</div>
