

.monthly-summary {
  padding: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: linear-gradient(135deg, #e0f7fa, #254636);
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  width: 80%;
  margin: 0 auto;
  color: white;
}

.summary-title {
  font-size: 24px;
  font-weight: 600;
  margin-bottom: 20px;
  color: #ffffff;
  text-align: center;
}

.month-navigation {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin-bottom: 20px;
  align-items: center;
}

.nav-button {
  padding: 8px 16px;
  background-color: #00796b;
  color: white;
  font-size: 14px;
  font-weight: 500;
  border: 2px solid #00796b;
  border-radius: 12px;
  cursor: pointer;
  transition: all 0.3s ease;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  min-width: 100px;
  text-align: center;
}

.nav-button:hover {
  background-color: white;
  color: #00796b;
  border-color: #00796b;
  transform: translateY(-2px);
}

.calories-summary {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 8px;
  width: 100%;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  color: #333;
}

.calories-summary p {
  font-size: 18px;
  margin: 10px 0;
}

.calories-summary strong {
  font-weight: 600;
}

.nav-button:active {
  transform: translateY(1px);
}

.nav-button span {
  font-size: 16px;
}
.plan-image {
  width: 100%; /* Szerokość dopasowana do szerokości kontenera */
  height: auto; /* Wysokość zachowuje proporcje */
  max-height: 200px; /* Maksymalna wysokość obrazka, aby nie był za wysoki */
  object-fit: cover; /* Zachowanie proporcji, aby obrazek dobrze wyglądał w kontenerze */
  margin-bottom: 20px; /* Odstęp między obrazkiem a resztą zawartości */
}

