<div class="monthly-summary">
  <div class="summary">
    <div class="month-navigation">
      <button class="nav-button" (click)="changeMonth(-1)">
        ← Poprzedni miesiąc
      </button>

      <h2 class="summary-title">
        Zestawienie miesięczne dla miesiąca:
        {{ currentMonth | date : "MMMM yyyy" }}
      </h2>
    

      <button class="nav-button" (click)="changeMonth(1)">
        Następny miesiąc →
      </button>
    </div>
    <p>W tej sekcji zobaczysz podsumowanie swojego miesiąca: ile kalorii spożyłeś, ile udało Ci się spalić oraz jak długo ćwiczyłeś w danym miesiącu. Możesz nawigować między miesiącami, aby śledzić swoje postępy w czasie.</p>
    <div class="calories-summary">
      <p><strong>Łączna liczba kalorii:</strong> {{ totalCalories() }} kcal</p>
      <p>To łączna liczba kalorii, które spożyłeś w tym miesiącu. Umożliwia Ci to monitorowanie Twojej diety i pomaga w ocenie, czy jesteś na drodze do osiągnięcia swoich celów zdrowotnych.</p>

      <p><strong>Łączna liczba spalonych kalorii:</strong> {{ totalBurnedCalories() }} kcal</p>
      <p>To łączna liczba kalorii, które spaliłeś podczas aktywności fizycznej. Jest to kluczowa informacja, jeśli chcesz śledzić, jak efektywne są Twoje treningi.</p>

      <p><strong>Łączny czas treningów:</strong> {{ totalTrainingTime() }} min</p>
      <p>Ten czas pokazuje, ile minut poświęciłeś na ćwiczenia w tym miesiącu. Dzięki temu możesz monitorować swoje zaangażowanie w aktywność fizyczną i dostosować plan treningowy.</p>
    </div>
  </div>
</div>

<app-weight-control></app-weight-control>
