<div class="user-details">
    <h2>User Details</h2>
    @if (userSignal | async; as user) {
      <p class="user-info"><strong>Email:</strong> {{ user.email }}</p>
      <p class="user-info"><strong>UID:</strong> {{ user.uid }}</p>
      <button class="btn-primary" (click)="authService.logout()">Wyloguj</button>
    } @else {
      <p class="user-info">No user is logged in.</p>
    }
  </div>
  <h1>Wybierz kolor swojej aplikacji </h1>
  <div class="color-buttons">
    <button (click)="changeGradient('green')">Zielony Gradient</button>
    <button (click)="changeGradient('pastel-lavender')">pastel-lavender</button>
    <button (click)="changeGradient('powder-blue')">powder-blue</button>
    <button (click)="changeGradient('cloud')">cloud</button>
    <button (click)="changeGradient('dusty-rose')">dusty-rose</button>
    <button (click)="changeGradient('powder-mint')">powder-mint</button>
    <button (click)="changeGradient('navy-ivory')">navy-ivory</button>
    <button (click)="changeGradient('cashmere-graphite')">cashmere-graphite</button>
    <button (click)="changeGradient('pearl-ink')">pearl-ink</button>
    <button (click)="changeGradient('beige-espresso')">beige-espresso</button>
    <button (click)="changeGradient('graphite-rose')">graphite-rose</button>
    <button (click)="changeGradient('turquoise-alabaster')">turquoise-alabaster</button>
    <button (click)="changeGradient('burgundy-cream')">burgundy-cream</button>
    <button (click)="changeGradient('platinum-coal')">platinum-coal</button>
    <button (click)="changeGradient('pearl-pink-anthracite')">pearl-pink-anthracite</button>
    <button (click)="changeGradient('opal-blue')">opal-blue</button>
    <button (click)="changeGradient('mustard-caramel')">mustard-caramel</button>
    <button (click)="changeGradient('emerald-gold')">emerald-gold</button>
  </div>
  