
.calorie-form-container {
  max-width: 600px;
  margin: 30px auto;
  background: var(--background-gradient);
  border-radius: 8px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  padding: 20px;
  color: #333;
}

.calorie-form-container h3 {
  font-size: 24px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-bottom: 20px;
}

.calorie-form-container form {
  display: grid;
  gap: 15px;
}

.form-group {
  display: flex;
  flex-direction: column;
}

.form-group label {
  font-weight: bold;
  color: #333;
}

.form-group input,
.form-group select {
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
}

button {
  background-color: var(--button-background, #254636);
  color: white;
  border: none;
  padding: 10px;
  border-radius: 4px;
  cursor: pointer;
  width: 100%;
}

button:hover {
  background-color: #2f5957;
}

.calorie-form-container h4 {
  font-size: 18px;
  font-weight: bold;
  color: #333;
  text-align: center;
  margin-top: 20px;
}




@media screen and (max-width: 768px) {
  .calorie-form-container {
    padding: 15px; 
    width: 90%; 
  }

  .calorie-form-container h3 {
    font-size: 20px; 
  }

  .form-group input,
  .form-group select {
    font-size: 14px;
    padding: 8px; 
  }

  button {
    font-size: 14px; 
    padding: 8px; 
  }

  .calorie-form-container h4 {
    font-size: 16px; 
  }
}


@media screen and (max-width: 480px) {
  .calorie-form-container {
    padding: 10px; 
    width: 95%; 
  }

  .calorie-form-container h3 {
    font-size: 18px; 
  }

  .form-group input,
  .form-group select {
    font-size: 12px; 
    padding: 6px; 
  }

  button {
    font-size: 12px; 
    padding: 6px; 
  }

  .calorie-form-container h4 {
    font-size: 14px; 
  }
}
.calorie-description {
  display: flex;
  align-items: center;
  gap: 20px;
}

.calorie-description img {
  width: 200px;
  height: auto;
  border-radius: 10px;
}

.calorie-image-container {
  text-align: center;
  margin-top: 20px;
}

.calorie-image {
  width: 100%;
  max-width: 500px;
  border-radius: 10px;
}