<app-navbar (formChange)="showForm($event)"></app-navbar>

<div class="welcome-container">
  @if (user$ | async; as user) {
  <div>
    <p>Witaj, {{ user.email }}</p>
    <button (click)="logout()">Wyloguj</button>
  </div>
  } @if (!(user$ | async)) { @if (currentForm === 'login') {
  <app-login></app-login>
  } @if (currentForm === 'register') {
  <app-register></app-register>
  } }

  <ul>
    @for (product of products$ | async; track product.id) {
    <li>{{ product.fitness }}</li>
    }
  </ul>
</div>
