<div class="button-container">
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#mealModal"
  >
    Dodaj Posiłek
  </button>
  <button
    type="button"
    class="btn btn-success"
    data-bs-toggle="modal"
    data-bs-target="#trainingModal"
  >
    Dodaj Trening
  </button>
</div>

<div class="calendar-container">
  <div class="calendar-header">
    <button class="btn btn-primary" (click)="prevMonth()">← Poprzedni</button>
    <h2>{{ months[currentMonth] }} {{ currentYear }}</h2>
    <button class="btn btn-primary" (click)="nextMonth()">Następny →</button>
  </div>

  <div class="calendar-days">
    @for (dayName of dayNames; track dayName) {
    <div class="day-name">{{ dayName }}</div>
    } @for (day of calendarDays; track day.date) {
    <div
      class="day"
      [class.other-month]="day.isOtherMonth"

    >
    <h3 class="day-number">
      <a [routerLink]="['/day-details', day.date.toISOString()]">
        {{ day.date.getDate() }}
      </a>
    </h3>

      @if (getMealsForDay(day.date).length > 0) {
      <div>
        <h4>Posiłki:</h4>
        <ul>
          @for (meal of getMealsForDay(day.date); track meal.id) {
          <li>
            {{ meal.name }} - {{ meal.calories }} kcal ({{ meal.weight }} g)
            <div class="buttons-container">
              <button 
                class="btn btn-link btn-sm"
                style="font-size: 0.8rem; text-decoration: none"
                data-bs-toggle="modal" 
                data-bs-target="#meal2Modal" 
                (click)="editMeal(meal)"
              >
                Edytuj
              </button>
              <button 
                class="btn btn-link btn-sm"
                style="font-size: 0.8rem; text-decoration: none"
                (click)="deleteMeal(meal.id)"
              >
                Usuń
              </button>
            </div>
          </li>
          }
        </ul>
      </div>
      } @if (getTrainingsForDay(day.date).length > 0) {
      <div>
        <h4>Treningi:</h4>
        <ul>
          @for (training of getTrainingsForDay(day.date); track training.id) {
          <li>
           {{training.videoLink}} {{ training.name }} - {{ training.burnedKcal }} kcal ({{
              training.time
            }})
              <div class="buttons-container">
                <button 
                  class="btn btn-link btn-sm"
                  style="font-size: 0.8rem; text-decoration: none"
                  data-bs-toggle="modal" 
                  data-bs-target="#meal3Modal" 
                  (click)="editTraining(training)"
                >
                  Edit
                </button>
                <button 
                  class="btn btn-link btn-sm"
                  style="font-size: 0.8rem; text-decoration: none"
                  (click)="deleteTraining(training.id)"
                >
                  Delete
                </button>
                <label class="form-check-label">
                  <input 
                    type="checkbox" 
                    class="form-check-input" 
                    [checked]="training.isDone" 
                    (change)="toggleTrainingDone(training)"
                  />
                  Done
                </label>
              </div>
          </li>
          }
        </ul>
      </div>
      }
    </div>
    }
  </div>
</div>

<app-meal-modal></app-meal-modal>
<app-training-modal></app-training-modal>

<app-edit
  [meal]="selectedMeal"
  (Save)="saveEditedMeal($event)"
  (close)="closeModal()"
></app-edit>
<app-edit-training
  [training]="selectedTraining"
  (Save)="saveEditedTraining($event)"
  (close)="closeModal()">
</app-edit-training>

