.calendar-container {
  width: 100%;
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
}

.calendar-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.calendar-grid {
  display: grid;
  grid-template-columns: repeat(7, 1fr); /* 7 dni w tygodniu */
  gap: 10px;
}

.calendar-day {
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #f9f9f9;
  border-radius: 8px;
}

.card {
  padding: 10px;
  background-color: white;
  border: 1px solid #ddd;
  border-radius: 8px;
}

.card button {
  margin-top: 5px;
  padding: 5px 10px;
  cursor: pointer;
}

.card h4 {
  margin-top: 10px;
  font-size: 14px;
}

.card ul {
  list-style: none;
  padding-left: 0;
}

.card li {
  font-size: 14px;
}
