<div class="fitness-plan-select">
  <h3>Fitness Plans:</h3>
  @for(plan of fitnessPlans; track plan) {
  <div class="plan-card" (click)="selectPlan(plan)">
    <h4 class="plan-title">{{ plan.name }}</h4>
    <button [routerLink]="['/plan', plan.id]"   class="btn btn-link btn-sm"
    style="font-size: 0.8rem; text-decoration: none">
     See Details
    </button>
    <button
      (click)="deletePlan(plan)"
      class="btn btn-link btn-sm"
      style="font-size: 0.8rem; text-decoration: none"
    >
      Delete
    </button>
  </div>
  }
  <div class="form-group">
    <label for="startDate">Choose Date </label>
    <input
      [(ngModel)]="startDate"
      id="startDate"
      type="date"
      class="form-control"
    />
  </div>
  <button (click)="startPlan()" class="btn-primary">Start Plan</button>
</div>
