/* Styl dla zdjęcia w górnej części sekcji */
.plan-image {
  width: 50%; /* Ustalamy szerokość zdjęcia na 80% szerokości kontenera */
  max-width: 900px; /* Maksymalna szerokość zdjęcia */
  height: auto; /* Zachowanie proporcji zdjęcia */
  margin: 0 auto 20px auto; /* Wyśrodkowanie zdjęcia i przerwa poniżej */
  display: block; /* Wyświetlanie jako blok, aby zachować przestrzeń */
  border-radius: 8px; /* Zaokrąglone rogi zdjęcia */
  padding: 20px; /* Padding wokół zdjęcia */
}

/* Styl głównego kontenera */
.fitness-plan-select {
  padding: 20px;
  background: var(--background-gradient);
  border-radius: 10px;
  color: #333;
  max-width: 900px; /* Ustalamy maksymalną szerokość formularza */
  margin: 0 auto; /* Wyśrodkowanie formularza */
  text-align: center; /* Wyśrodkowanie wszystkich elementów wewnątrz */
}

/* Wyśrodkowanie i stylizacja tytułów */
h3 {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
}

/* Kontener kart z planami */
.plan-cards-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center; /* Wyśrodkowanie kart */
  margin: 0 auto;
  max-width: 780px;
}

/* Styl dla pojedynczej karty planu */
.plan-card {
  background: #f0f0f0;
  border-radius: 8px;
  padding: 20px;
  width: 250px; /* Ustalamy szerokość karty */
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: all 0.3s ease;
}

/* Styl dla wybranej karty */
.plan-card.selected {
  background: #dcdcdc;
}

/* Styl tytułu karty */
.plan-title {
  font-size: 20px;
  font-weight: bold;
  color: #333;
  margin-bottom: 15px;
}

/* Styl przycisków w grupie */
.button-group {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.button-group .btn {
  font-size: 0.8rem;
  text-decoration: none;
  border-radius: 5px;
  padding: 8px 12px;
}

/* Styl formularza daty */
.form-group {
  margin-top: 20px;
}

#startDate {
  width: 100%; /* Ustalamy szerokość inputu */
  padding: 8px;
  border-radius: 5px;
  border: 1px solid #ccc;
}

/* Styl przycisku rozpoczęcia planu */
.btn-primary {
  margin-top: 20px;
  background-color: var(--button-background, #254636);
  border: none;
  color: white;
  padding: 12px 20px;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  width: 100%;
}

.btn-primary:hover {
  background: #254636;
}
