.measurements-summary {
  padding: 20px;
  border-radius: 10px;
  background-color: #f9f9f9;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  max-width: 900px;
  margin: 20px auto;
}

.measurements-summary .summary {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.measurements-summary .summary-title {
  font-size: 26px;
  font-weight: bold;
  text-align: center;
  color: #333;
  margin-bottom: 20px;
}

.measurements-summary table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

.measurements-summary table th,
.measurements-summary table td {
  padding: 10px 15px;
  text-align: left;
  border: 1px solid #ddd;
}

.measurements-summary table th {
  background-color: #e0f7fa;
  font-weight: bold;
}

.measurements-summary table td {
  background-color: #f9f9f9;
}

.measurements-summary table td.ng-style-changes {
  font-weight: bold;
}

.measurements-summary table td:nth-child(even) {
  background-color: #f0f0f0;
}

.measurement-form {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
}

.measurement-form label {
  font-size: 16px;
  font-weight: bold;
  color: #333;
}

.measurement-form input[type="date"],
.measurement-form input[type="number"] {
  font-size: 16px;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 100%;
}

.measurement-form button[type="submit"] {
  background-color: var(--button-background, #254636);
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: 100%;
}

.measurement-form button[type="submit"]:hover {
  background-color: var(--button-background, #254636);
}

@media (max-width: 768px) {
  .measurement-form {
    grid-template-columns: 1fr;
  }
  .measurement-form label {
    font-size: 14px;
  }
}

.justify-content-center {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  color: #333;
}
.measurement-form .center-button {
  text-align: center;
  width: 100%;
}

.measurement-form button[type="submit"] {
  background-color: var(--button-background, #254636);
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: auto;
  margin: 0 auto;
}
.btn-toggle {
  background-color: var(--button-background, #254636);
  border: none;
  color: white;
  padding: 12px 25px;
  border-radius: 5px;
  font-size: 16px;
  cursor: pointer;
  width: auto;
  margin: 0 auto;
}
.measurement-form button[type="submit"]:hover {
  background-color: var(--button-background, #254636);
}
