.modal-dialog {
    max-width: 600px;
    margin: 30px auto;
    border-radius: 8px;
  }
  
  .modal-content {
    background: var(--background-gradient);
    border-radius: 8px;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
    padding: 20px;
    color: #333;
  }
  
  .modal-header {
    border-bottom: 1px solid #ddd;
    padding-bottom: 10px;
  }
  
  .modal-title {
    font-size: 24px;
    font-weight: bold;
    color: #333;
  }
  
  .btn-close {
    background: none;
    border: none;
    font-size: 24px;
    color: #333;
    cursor: pointer;
  }
  
  .btn-close:hover {
    color: #28a745;
  }
  
  .modal-body {
    padding: 15px 0;
  }
  @media (max-width: 768px) {
    .modal-dialog {
      max-width: 90%; /* Zwiększenie szerokości na mniejszych ekranach */
      margin: 20px auto; /* Mniejszy margines dla lepszego dopasowania */
    }
    
    .modal-content {
      padding: 15px; /* Mniejsze paddingi w treści modala */
    }
    
    .modal-header {
      padding-bottom: 8px; /* Mniejsze paddingi w nagłówku */
    }
    
    .modal-title {
      font-size: 20px; /* Zmniejszenie rozmiaru czcionki tytułu */
    }
    
    .btn-close {
      font-size: 20px; /* Zmniejszenie rozmiaru czcionki dla przycisku zamykania */
    }
    
    .modal-body {
      padding: 12px 0; /* Mniejsze paddingi w ciele modala */
    }
  }
  